domobox2/search/src/main/resources/META-INF/wsdl/ficen/radar.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ficen.csn.fr/wsdl/radar" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	name="radar" targetNamespace="http://ficen.csn.fr/wsdl/radar" xmlns:xsd1="http://ficen.csn.fr/wsdl/transverse/types">
	<wsdl:types>
		<xsd:schema targetNamespace="http://ficen.csn.fr/wsdl/radar" xmlns:Q1="http://ficen.csn.fr/wsdl/organisation/types" xmlns:Q2="http://ficen.csn.fr/wsdl/office/types">
            <xsd:import schemaLocation="transverse.xsd" namespace="http://ficen.csn.fr/wsdl/transverse/types"></xsd:import>
            <xsd:import schemaLocation="office.xsd" namespace="http://ficen.csn.fr/wsdl/office/types"></xsd:import>
            <xsd:import schemaLocation="organisation.xsd" namespace="http://ficen.csn.fr/wsdl/organisation/types"></xsd:import>
			<xsd:element name="getInstancesResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="instances" type="tns:instanceRadar" maxOccurs="unbounded" minOccurs="0" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:complexType name="instanceRadar">
				<xsd:complexContent>
					<xsd:extension base="Q1:instanceInfo">
						<xsd:sequence>
							<xsd:element name="departements" type="xsd1:codeDepartement" maxOccurs="unbounded" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Code des départements rattachés directement à l'instance. Il s'agit de 3 chiffres correspondant au numéro du département</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:element name="getUtilisateursInstanceResponse">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="utilisateurs" type="Q1:utilisateurInfo" maxOccurs="unbounded" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Utilisateurs rattachés à une instance FICEN</xsd:documentation>
							</xsd:annotation></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getOfficesResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="offices" type="Q2:OfficeInfoRattachementPersonnel" maxOccurs="unbounded" minOccurs="0"></xsd:element>
						<xsd:element name="nbOffices" type="Q2:TotalisationOffice" maxOccurs="unbounded" minOccurs="0"></xsd:element>
					</xsd:sequence>
				</xsd:complexType></xsd:element>
			<xsd:element name="getPonderations">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="in" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getPonderationsResponse">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="nbDapAttendues" type="xsd:int" maxOccurs="1" minOccurs="1">
							<xsd:annotation>
								<xsd:documentation>Nombre de Dap attendues pour l'année</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="nbDapRecues" type="xsd:int" maxOccurs="1" minOccurs="1">
							<xsd:annotation>
								<xsd:documentation>Nombre de DAP recçue pour l'année</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="nbDapValidees" type="xsd:int" minOccurs="1" maxOccurs="1"></xsd:element>
						<xsd:element name="ponderations" type="tns:ponderationCRN" maxOccurs="unbounded" minOccurs="0"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getPonderationsFault">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="getPonderationsFault" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		
			<xsd:complexType name="ponderationDepartement">
				<xsd:annotation>
					<xsd:documentation>Pondération du département dans une CRN</xsd:documentation>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="code" type="xsd1:codeDepartement" minOccurs="1" maxOccurs="1"></xsd:element>
					<xsd:element name="poids" type="xsd:decimal" maxOccurs="1" minOccurs="1"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="ponderationCRN">
				<xsd:sequence>
					<xsd:element name="codeCSN" type="xsd1:codeCsn" maxOccurs="1" minOccurs="1"></xsd:element>
					<xsd:element name="poids" type="xsd:decimal" maxOccurs="1" minOccurs="1"></xsd:element>
					<xsd:element name="poidsDepartements" type="tns:ponderationDepartement" maxOccurs="unbounded" minOccurs="0"></xsd:element>

				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:import namespace="http://ficen.csn.fr/wsdl/transverse/types" schemaLocation="transverse.xsd"></xsd:import>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="getInstancesResponse">
		<wsdl:part element="tns:getInstancesResponse" name="instances" />
	</wsdl:message>
	<wsdl:message name="getInstancesRequest">
	</wsdl:message>
	<wsdl:message name="getUtilisateursInstanceRequest">
	</wsdl:message>
	<wsdl:message name="getUtilisateursInstanceResponse">
		<wsdl:part name="utilisateurs" element="tns:getUtilisateursInstanceResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="radarSystemException">
		<wsdl:part name="systemException" type="xsd1:SystemException"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getOfficesRequest">
	</wsdl:message>
	<wsdl:message name="getOfficesResponse">
		<wsdl:part name="offices" element="tns:getOfficesResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getPonderationsRequest">
        <wsdl:part name="annee" type="xsd:int"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getPonderationsResponse">
		<wsdl:part name="ponderations" element="tns:getPonderationsResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getPonderationsFault">
		<wsdl:part name="parameters" element="tns:getPonderationsFault"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getPonderationsFault1">
	</wsdl:message>
	<wsdl:portType name="radarEndPoint">
		<wsdl:operation name="getInstances">
			<wsdl:documentation>Récupération de la listes des instances active</wsdl:documentation>

			<wsdl:input message="tns:getInstancesRequest"></wsdl:input>
			<wsdl:output message="tns:getInstancesResponse" />
			<wsdl:fault name="radarSystemException" message="tns:radarSystemException"></wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getUtilisateursInstance">
			<wsdl:documentation>Récupération de la liste des utilisateurs actifs rattachés à une instance</wsdl:documentation>
			<wsdl:input message="tns:getUtilisateursInstanceRequest"></wsdl:input>
			<wsdl:output message="tns:getUtilisateursInstanceResponse"></wsdl:output>
			<wsdl:fault name="radarSystemException" message="tns:radarSystemException"></wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getOffices">
			<wsdl:input message="tns:getOfficesRequest"></wsdl:input>
			<wsdl:output message="tns:getOfficesResponse"></wsdl:output>
			<wsdl:fault name="radarSystemException" message="tns:radarSystemException"></wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getPonderations">
			<wsdl:input message="tns:getPonderationsRequest"></wsdl:input>
			<wsdl:output message="tns:getPonderationsResponse"></wsdl:output>
            <wsdl:fault name="radarSystemException" message="tns:radarSystemException"></wsdl:fault>
        </wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="radarSOAP" type="tns:radarEndPoint">

		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="getInstances">

			<soap:operation soapAction="http://ficen.csn.fr/wsdl/radar/getInstancesActives" />
			<wsdl:input>

				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>

				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="radarSystemException">

				<soap:fault use="literal" name="radarSystemException" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getUtilisateursInstance">

			<soap:operation soapAction="http://ficen.csn.fr/wsdl/radar/getUtilisateursInstance" />
			<wsdl:input>

				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>

				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="radarSystemException">

				<soap:fault use="literal" name="radarSystemException" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getOffices">
			<soap:operation soapAction="http://ficen.csn.fr/wsdl/radar/getOffices" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getPonderations">
			<soap:operation soapAction="http://ficen.csn.fr/wsdl/radar/getPonderations" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="radarSystemException">
				<soap:fault use="literal" name="radarSystemException" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="radarService">
		<wsdl:port binding="tns:radarSOAP" name="radarPort">
			<soap:address location="http://ficen.csn.fr/radar" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
